@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root{
    --cor-de-fundo:  #0C0C0C;
    --texto-principal: #106b87;
    --texto-segundario: #aaacc7;
    --font-family: "kanit", sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto-principal);
    font-family: var(--font);
    height: 100vh;
    margin: 0;   
}

header{
    background-color: var(--texto-principal);
    text-align: center;
}

h1{
    color:var(--cor-de-fundo);
    font-size: 4rem;
    font-weight: 500;
}
 nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
 }

 nav a{
    text-decoration: none;
    color:var(--cor-de-fundo);
    margin: 0 1.5rem 1rem 0 ; 
    font-size:1.6rem;
 }

 nav a:hover {
    text-decoration: underline;
    transform: scale(1.3);
    transition: transform 0.2s;
 }


 footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 2rem;
    width: 100%;
    padding-left: 3px
 }